h1 {
    text-align: center;
    color: #ff0000;
}

h2 {
    text-align: center;
    color: #ff0000;
}

#main__img {
    position: absolute;
    align-self: center;
    align-items: center;
    align-self: center;
    text-align: center;
    position: static;
    height: 33%;
    width: 33%;
}

/* Стилове за чата */
#chat {
  height: 400px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

#chat div {
margin-bottom: 5px;
}

#chat .sender {
font-weight: bold;
color: #007bff;
}

#chat .message {
    margin-left: 10px;
}

/* Стилове за формата за изпращане на съобщения */
form {
    margin-bottom: 10px;
}

form input[type="text"], form input[type="submit"] {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

form input[type="text"] {
    width: 80%;
}

form input[type="submit"] {
    width: 18%;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}